#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_auto_build:
	python setup.py build

override_dh_auto_install:
	python setup.py install --root=debian/nscaweb --install-layout=deb
	cp -r etc debian/nscaweb/etc
